body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    margin-inline: auto;
    margin-inline: max(1em, (100% - 80ch) / 2);


}
center{
    background-color: blue;
    width: 100px;
}
H1{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

dt {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

.wrapper{
    background-color: hsla(0, 6%, 83%, 0.201);
}
#chart{
    width: inherit;
    height: 600px;
    margin-top: 1em;
}

.grid line {
    stroke: lightgray;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}
dl {
    margin-top: -130px;
}
p {
    margin-top: -15px;
    font-size: 15px;
    color: rgb(87, 87, 87);
    font-family: comic sans ms;

}

